.footer-bar {
	width: 100%;
	height: 80px;
	display: flex;
    justify-content: space-around;
	align-items: center;
	background-color: #433C4B;
	font-size: calc(10px + 1.5vmin);
	margin: 0;
	padding: 20;
	z-index: 3;
}

.footer-list {
    list-style: none;
	display: flex;
    justify-content: flex-end;
	color: whitesmoke;
	text-decoration: none;
	margin: 0;
}

.footer-links {
    color: whitesmoke;
    text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 14px;
}

.footer-navlink {
	text-decoration: none;
	
}